# SMTP設定（lolipop.jp）
SMTP_HOST=smtp.lolipop.jp
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=shipping@be-full.jp
SMTP_PASS=EP8rjc-9KUSJM

# APIキー（kintoneカスタマイズ側の API_KEY 定数と同じ値を設定）
API_KEY=u8hKJ8bytV3kCtAJRE5KPdJnTzetGNZjZ42HMcFR

# サーバーポート
PORT=3000
